<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Feed</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header th:include="fragments :: topPanel"></header>

<div class="container mt-4 mb-4">
    <h1>Feed</h1>

    <div th:each="post : ${posts}" class="card mb-4">
        <div class="card-body">
            <h2 th:text="${post.title}"></h2>
            <p th:text="${post.content}"></p>
            <span>by <a th:href="@{/user/{username}(username=${post.username})}" th:text="${post.username}"></a></span>
        </div>
        <div class="card-footer">
            <div th:if="${post.username == currentUser || isCurrentUserAdmin}">
                <form th:action="@{/user/posts/{postId}/delete(postId=${post.id})}" method="post">
                    <input type="hidden" name="referrer" th:value="${currentURI}" />
                    <button type="submit" class="btn btn-danger mt-2">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>
